{{ if eq (.Get 3) "left" }}
<tr>
  <td>
    <a href="/{{ replace (.Get 0) " " "_" }}"><img style="text-align: left" src="/images/games/first{{ .Get 0 }}.png"/> </td>
  <td>
    <h1 style="text-align: center">
      First {{ .Get 0 | title }}: {{ .Get 1 }}
    </h1>
    <p style="text-align: center">
    {{ .Get 2 }}
    <br />
    <a href="/{{ replace (.Get 0) " " "_" }}"><img style="text-align: right" src="/images/LearnMoreButton.png" width="200" height="40"/>
    </p>
  </td>
</tr>
{{ end }}

{{ if eq (.Get 3) "right" }}

<tr>
    <td>
    <h1 style="text-align: center">
      First {{ .Get 0 | title }}: {{ .Get 1 }}
    </h1>
    <p style="text-align: center">
    {{ .Get 2 }}
    <br />
    <a href="/{{ replace (.Get 0) " " "_" }}"><img style="text-align: right" src="/images/LearnMoreButton.png" width="200" height="40"/>
    </p>
  </td>
  <td>
    <a href="/{{ replace (.Get 0) " " "_" }}"><img style="text-align: left" src="/images/games/first{{ .Get 0 }}.png"/> </td>
</tr>
{{ end }}
