<table border="0" width="100%" style="margin: 20px">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td>
      <a href="{{ .partner.url }}"><img width="400" style="text-align: left" src="{{ .logodir }}/{{ .partner.logo }}"/> </td>
    <td>
      <h1 style="font-size: 30pt; text-align: center">
        {{safeHTML (replace (replace .partner.name "&" (htmlUnescape "<span class='clearfont'>&amp;</span>")) "-" (htmlUnescape "<span class='clearfont'>&ndash;</span>")) }}
      </h1> </a>
      <h1 style="font-size: 30pt; text-align: center">
        {{.partner.location}}
      </h1> </a>
      <h1 style="font-size: 30pt; text-align: center">
        {{safeHTML (replace .partner.from "-" (htmlUnescape "<span class='clearfont'>&ndash;</span>")) }}
      </h1> </a>
    </p>
    </td>
  </tr>
</tbody>
</table>

</table>

<p style="font-size: 15pt; text-align: center"> {{.partner.desc}} </p>

<hr>
