<tr>
    <td width="300">
        <a href="{{ .partner.url }}">
            <img style="text-align: left" src="{{ .partner.logo }}"/>
        </a>
    </td>
    <td width="50">&nbsp;</td>
    <td>
        <a href="{{ .partner.url }}">
            <h1>
                {{safeHTML (replace (replace .partner.name "&" (htmlUnescape "<span class='clearfont'>&amp;</span>")) "-" (htmlUnescape "<span class='clearfont'>&ndash;</span>")) }}
            </h1>
        </a>
        <h4 class="clearfont">
            {{.partner.location}}
        </h4>
        <h4 class="clearfont">
            {{ .partner.from }}
        </h4>
    </td>
</tr>
<tr>
    <td colspan="3">
        <br />
        <p style="font-size: 15pt; text-align: center"> {{.partner.desc}} </p>
    </td>
</tr>
<tr>
    <td colspan="3">
        <hr />
    </td>
</tr>
